In [2]:
import pandas as pd

In [3]:
en = pd.read_table('data/eng/ac-dev.en', delimiter='\\n', names=['en'])
ar = pd.read_table('data/ara/tune.en_ref.ar', delimiter='\\n', names=['ar'])

/home/kelwa/anaconda3/envs/colab/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
/home/kelwa/anaconda3/envs/colab/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [4]:
ar.shape, en.shape

((4107, 1), (4107, 1))

In [5]:
#2725 to 3742
ar.drop(ar.loc[2725:3742].index,inplace=True)
#2720 to 3707
en.drop(en.loc[2725:3742].index,inplace=True)

In [6]:
ar.shape, en.shape

((3089, 1), (3089, 1))

In [7]:
for i in range(en.shape[0]):
  if len(en.en.iloc[-i].split()) > 100:
    print(en.en.iloc[-i].split('.')[1])
    print(ar.ar.iloc[-i].split('.')[1])
    print(len(ar.ar.iloc[-i].split('.')[1].split()))
    break
    print("big")

0

In [8]:
en['ar'] = ar['ar']

In [9]:
df = en.copy()
df.head()

,en,ar
0,Having regard to the Treaty establishing the E...,مع الأخذ في الاعتبار المعاهدة التي أنشئت بموجب...
1,Whereas the progressive establishment of the c...,وحيث أنه لا يجب أن تواجه عملية الإنشاء التدريج...
2,"1. Each Member State shall, by the end of 1962...",1. يتعيّن على كلّ دولة عضو بحلول نهاية العام 1...
3,4. The two Annexes to this Directive shall for...,4 يشكّل الملحقان المرفقان بهذا التوجيه جزءاً ل...
4,Article 3,المادة 3

In [10]:
df.tail()

,en,ar
4102,Whereas:,حيث إن:
4103,(3) The measures provided for in this Regulati...,(3) تتوافق التدابير المنصوص عليها في هذه اللائ...
4104,1. The following derogations from the provisio...,1. تُمنح الاستثناءات التالية من أحكام اللائحة ...
4105,(c) Luxembourg is granted derogations for the ...,(ج) يتم منح لوكسمبورغ استثناءات لإنتاج النتائج...
4106,Article 2,المادة 2

In [11]:
text_pairs = []
for idx, row in df.iterrows():
    # split sentences
    if '.' in row['en'] and '.' in row['ar'] and len(row['en'].split()) > 100:
        en_sents = row['en'].split('.')
        ar_sents = row['ar'].split('.')
    
        for en_sent, ar_sent in zip(en_sents, ar_sents):
            ar_sent = "[start] " + ar_sent + " [end]"
            text_pairs.append((en_sent, ar))
    else:
        en, ar = row['en'], row['ar']
        ar = "[start] " + ar + " [end]"
        text_pairs.append((en, ar))

In [12]:
import random

In [18]:
for _ in range(1):
    print(random.choice(text_pairs))

('Whereas, pursuant to the said general rules, the goods described in column 1 of the table annexed to the present Regulation must be classified within the appropriate CN codes indicated in column 2, by virtue of the reasons set out in column 3;', '[start] حيث وفقا للقواعد العامة المذكورة، تصنف السلع لموصوفة في العمود 1 من الجدول المرفق بهذه اللائحة ضمن رموز CN المناسبة والمشار إليها في العمود 2، بحكم الأسباب المذكورة في العمود 3؛ [end]')

In [102]:
len(text_pairs)

4262