In [1]:
import pandas as pd

In [5]:
len(en),len(ar)

(4107, 4107)

In [4]:
en=pd.read_table('ac-dev.en',header=None,delimiter='\\n')
ar=pd.read_table('tune.en_ref.ar',header=None,delimiter='\\n',encoding='utf-8')

In [6]:
en[13:16]

                                                    0
13  Whereas a regulation of 31 March 1969 on the "...
14  Whereas, furthermore, the technical requiremen...
15  For the purposes of this Directive, "vehicle" ...

In [7]:
ar[13:16]

                                                    0
13  حيث أنه كان قد صدر في 31 مارس/آذار 1969، نظام ...
14  وحيث أنه من الضروري كذلك، تكييف المتطلبات الفن...
15  لأغراض هذا التوجيه، تعني "الآلية" أي آلية تعمل...

In [13]:
ar.loc[ar[0].str.contains('تقوم الدول الأعضاء بتبليغ الهيئة دون تأخير')]

                                                      0
2724  2. تقوم الدول الأعضاء بتبليغ الهيئة دون تأخير ...

In [17]:
#2725
ar.loc[2725]

0    ������ 4
Name: 2725, dtype: object

In [19]:
#3744
ar.loc[ar[0].str.contains('بما في ذلك البويضات والأجنة والسائل المنوي')]

                                                      0
3744  (أ) المنتجات المشتقة من الحيوانات: أجساد الحيو...

In [25]:
#3742
ar.loc[3742]

0    (�) �������� ������� ������� ������ ������� ��...
Name: 3742, dtype: object

In [26]:
#2725 to 3742
ar.drop(ar.loc[2725:3742].index,inplace=True)

In [27]:
en.loc[en[0].str.contains('Member States shall inform the Commission without delay when measures are adopted on the basis of paragraph 1')]

                                                      0
2724  2. Member States shall inform the Commission w...

In [28]:
en.loc[en[0].str.contains('ova, embryos and semen intended for breeding purposes; and')]

                                                      0
3742  (f) ova, embryos and semen intended for breedi...

In [29]:
#2720 to 3707
en.drop(en.loc[2725:3742].index,inplace=True)

In [30]:
len(ar),len(en)

(3089, 3089)

In [31]:
ar

                                                      0
0     مع الأخذ في الاعتبار المعاهدة التي أنشئت بموجب...
1     وحيث أنه لا يجب أن تواجه عملية الإنشاء التدريج...
2     1. يتعيّن على كلّ دولة عضو بحلول نهاية العام 1...
3     4 يشكّل الملحقان المرفقان بهذا التوجيه جزءاً ل...
4                                              المادة 3
...                                                 ...
4102                                            حيث إن:
4103  (3) تتوافق التدابير المنصوص عليها في هذه اللائ...
4104  1. تُمنح الاستثناءات التالية من أحكام اللائحة ...
4105  (ج) يتم منح لوكسمبورغ استثناءات لإنتاج النتائج...
4106                                           المادة 2

[3089 rows x 1 columns]

In [32]:
en

                                                      0
0     Having regard to the Treaty establishing the E...
1     Whereas the progressive establishment of the c...
2     1. Each Member State shall, by the end of 1962...
3     4. The two Annexes to this Directive shall for...
4                                             Article 3
...                                                 ...
4102                                           Whereas:
4103  (3) The measures provided for in this Regulati...
4104  1. The following derogations from the provisio...
4105  (c) Luxembourg is granted derogations for the ...
4106                                          Article 2

[3089 rows x 1 columns]